@import './base/variables';
@import './base/reset';
@import './utilities/all';
@import './components/all';

.no-border{
  border: 0;
}
.bg-primary {
  background-color: $primary;
}
.d-none{
  display: none;
}