@import './../../../@core/theme/base/variables';

.navbar-container{
  padding: 1.5em 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 1.4em;
}
.nav-items i{
  color: $grey-600;
}
.horizontal-divider {
  height: 40px;
  width: 1px;
  background: #e3e3e3;
  margin: 0 12px;
}
.user-container{
  min-width: 150px;
  position: relative;
  cursor: pointer;
  outline: none;

  .user-menu {
    border-radius: 0.5em;
    overflow: hidden;
    position: absolute;
    background: white;
    min-width: 150px;
    right: 2px;
    z-index: 99;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 0;
    transition: 3s top ease-in;
    top: 0px;
    display: none;
    
    &.show {
      top: 55px;
      display: block;
      opacity: 1;
    }

    button {
      text-align: left;

      i{
        width: 25px;
      }
    }
  }
}

