$primary: #364ffe;
$light: white;
$dark-200: #36363d;
$grey: #a1a4b5;
$grey-100: #fafdfd;
$grey-200: #eef1f6;
$grey-300: #80818e;
$grey-400: #9194a1;
$grey-500: #3e3e48;
$grey-600: #a9acbc;

$blue-light: #f6f9fb;


$danger: #f44336;
$success: #26cd97;
$warn: #fdc200;

$margin-base: 8;

$light-shadow-100: rgba(218, 222, 255, 0.2) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;